@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --primary-color: #14213d;
  --offwhite-color: #e5e5e5;
  --secondary-color: #fca311;
  --white: #ffffff;
  font-family: "Poppin", "Roboto", sans-serif;
  color: var(--offwhite-color);
  background-color: var(--primary-color);
}

.center {
  margin: auto;
}

.navbar {
  min-height: 10vh;
  font-size: 25px;
}

.navbar-brand {
  font-size: 30px;
}
.navbar-custom {
  background-color: var(--primary-color);
}
/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.nav-item .nav-link {
  color: var(--offwhite-color);
}

.nav-item .nav-link:hover {
  color: var(--secondary-color);
}

.navbar-brand:hover {
  color: var(--secondary-color);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252, 163, 17, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* why doesnt this work */
/* link: https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color */
.navbar-custom .custom-toggler .navbar-toggler {
  border-color: rgb(252, 163, 17);
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/* home page */

#home-page h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
}

#home-page p {
  font-size: 15px;
}
.information {
  margin: auto;
  padding-left: 0 50px;
}
.profile-img {
  margin: auto;
}

#home-page .row {
  min-height: 90vh;
}

.contacts-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin: 0px auto;
}
.contacts-div a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.contacts-div a:hover {
  color: var(--offwhite-color);
}

/* About me section */
.sub-title {
  padding-top: 10vh;
  font-size: 25px;
  color: var(--secondary-color);
}

#About-me {
  min-height: 90vh;
}

#About-me hr {
  background-color: var(--secondary-color);
}
/* card flip code 1 */
/* .card-container { */
/* position: relative; */
/* width: 18rem; */
/* perspective: 200rem; */
/* height: 30vh; */
margin: auto;
/* } */
/*  */
/* .card-container:hover .card-front { */
/* transform: rotateY(180deg); */
/* } */
/*  */
/* .card-container:hover .card-back { */
/* transform: rotateY(0deg); */
/* } */
/*  */
/* .card-back { */
/* transform: rotateY(180deg); */
/* } */
/*  */
/* .card { */
/* position: absolute; */
/* height: 100%; */
/* width: 100%; */
/* transition: all 0.9s; */
/* backface-visibility: hidden; */
/* } */
/*  */
/* .card-back .card-body { */
/* position: relative; */
/* } */

/* card flip code 2 */

.middle {
  display: flex;
  position: relative;
}
.card-1 {
  cursor: pointer;
  width: 300px;
  height: 300px;
  margin: auto;
}
.front,
.back {
  width: 300px;
  height: 300px;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
}
.front img {
  height: 100%;
  object-fit: cover;
}

.front {
  transform: perspective(600px) rotateY(0deg);
  backface-visibility: hidden;
}
.back {
  /* background: var(--offwhite-color); */
  background: rgba(20, 33, 61, 0.5);
  /* background: var(--white); */
  transform: perspective(600px) rotateY(180deg);
}
.back-content {
  color: var(--offwhite-color);
  text-align: center;
  width: 100%;
}

.back-content h2 {
  color: var(--secondary-color);
}

.card-1:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}
.card-1:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .personal-image {
    /* width: 500px; */
    /* height: 500px; */
  }
  .information {
    text-align: left;
  }
}
@media (max-width: 768px) {
  /* .personal-image { */
  /* width: 400px; */
  /* height: 400px; */
  /* } */
}
@media (max-width: 576px) {
  /* .personal-image { */
  /* width: 400px; */
  /* height: 400px; */
  /* } */
  .information {
    text-align: center;
  }
  .card-container {
    margin: auto;
  }
}
/* experience */
#Experience {
  min-height: 90vh;
}
/* projects */
#Projects {
  min-height: 90vh;
}
.center-img {
  margin: 0 auto;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
